@{
    ViewBag.Title = "Ana Sayfa";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <div class="block-header">
        <h2>HIZLI ERİŞİM</h2>
    </div>
    <!-- Widgets -->
    <div class="row clearfix">
        <a href="/Admin/Menu/MenuEkle">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-pink hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">playlist_add_check</i>
                    </div>
                    <div class="content">
                        <div class="text">MENÜLER</div>
                        <div class="number count-to" data-from="0" data-to="@ViewBag.menu" data-speed="15" data-fresh-interval="20"></div>
                    </div>
                </div>
            </div>
        </a>
        <a href="/Admin/Contact/ShowMessage">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-light-green hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">forum</i>
                    </div>
                    <div class="content">
                        <div class="text">MESAJLAR</div>
                        <div class="number count-to" data-from="0" data-to="@ViewBag.message" data-speed="1000" data-fresh-interval="20"></div>
                    </div>
                </div>
            </div>
        </a>
        <a href="/Admin/BulletinMember">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-cyan hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">help</i>
                    </div>
                    <div class="content">
                        <div class="text">BÜLTEN ABONE</div>
                        <div class="number count-to" data-from="0" data-to="@ViewBag.newsmember" data-speed="1000" data-fresh-interval="20"></div>
                    </div>
                </div>
            </div>
        </a>
        <a href="/Admin/User">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-orange hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">person_add</i>
                    </div>
                    <div class="content">
                        <div class="text">YETKİLİLER</div>
                        <div class="number count-to" data-from="0" data-to="@ViewBag.user" data-speed="1000" data-fresh-interval="20"></div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <!-- #END# Widgets -->
  
</div>